verison: 2.1
jobs:
  build:
    machine:
      image: circleci/classic:edge
    steps:
      - checkout
      - run:
          name: コンテナイメージビルド
          command: docker-compose -f ./docker-compose.ci.yml build
      - run:
          name: コンテナ起動
          command: docker-compose -f ./docker-compose.ci.yml up -d
      - run:
          name: データベース作成
          command: docker-compose exec app rails db:create
      - run:
          name: マイグレーション
          command: docker-compose exec app rails db:migrate RAILS_ENV=test
      - run:
          name: brakeman実行
          command: docker-compose exec app brakeman -A
      - run:
          name: slim-lint実行
          command: docker-compose exec app slim-lint app/views/
      - run:
          name: rubocop実行
          command: docker-compose exec app rubocop --parallel
      - run:
          name: RSpec実行
          command: docker-compose exec app rspec
      - run:
          name: コンテナ削除
          command: docker-compose down
