= link_to "詳細情報", "#panel-1", class: "nav-item nav-link active", data: { toggle: "tab" }
= link_to "予約状況", "#panel-2", class: "nav-item nav-link", data: { toggle: "tab" }
= link_to "周辺地図", "#panel-3", class: "nav-item nav-link", data: { toggle: "tab" }
= link_to "レビュー", "#panel-4", class: "nav-item nav-link", data: { toggle: "tab" }
