/* ===レイアウト=== */
.wrapper {
  min-height: 95vh;
  position: relative;
  padding-bottom: 55px;
  box-sizing: border-box;
}

/* ===header=== */
body {
  padding-top: 50px;
}

/* ===footer=== */
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* ===bootstrap_form label 必須印=== */
label.required:after {
  content: " *";
  color: red;
}

/* ===simple-calendar=== */
.simple-calendar {
  .day {}
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}
  .today {}
  .past {}
  .future {}
  .start-date {}
  .prev-month {}
  .next-month { }
  .current-month {}
  .has-events {}
}

/* ===google map=== */
#map {
  width: 100%;
  height: 600px;
}
